{% extends 'layout.html' %}
{% block content %}

  <div class="row py-4">
    <h4 class="negocio-2">¿Por qué iniciar tu negocio propio con Catálogo ShoesAlva?</h4>
    <div class="d-flex flex-nowrap py-4">
        <div class="order-1 p-2">
            <i class="bi bi-boxes py-2"></i>
            <p class="py-4 negocio">Gana hasta un 25% por tus ventas</p>
        </div>
        <div class="order-2 p-2">
            <i class="bi bi-briefcase-fill py-2"></i>
            <p class="py-4 negocio">Trabaja con las mejores marcas</p>
        </div>
        <div class="order-3 p-2">
            <i class="bi bi-car-front py-2"></i>
            <p class="py-4 negocio">Entregas a todo el Perú</p>
        </div>
        <div class="order-4 p-2">
            <i class="bi bi-box2-heart-fill py-2"></i>
            <p class="py-4 negocio">Cambios y garantías</h1>
        </div>
        <div class="order-5 p-2">
            <i class="bi bi-suitcase-lg py-2"></i>
            <p class="py-4 negocio">Eventos y muchos premios</p>
        </div>
      </div>
      <div>
        <p class="Beneficios">Beneficios</p>
        <ul class="negocio">
            <li>Gana comisiones de hasta 10% por las ventas de tu red de Socios</li>
            <li>Flete gratis para tus pedidos, si superas monto mínimo</li>
            <li>Apoyo publicitario para hacer crecer tu red</li>
            <li>Participación en evento exclusivos: Convención Directores y Capacitaciones</li>
        </ul>
      </div>
  </div>

{% endblock content %}
