{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Alumnos</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listado</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- LISTADO DE ALUMNOS -->
                         {%for alumno in alumnos %}
                        <tr>
                            <td>{{alumno.alumno_id}}</td>
                            <td>{{alumno.alumno_nombre}}</td>
                            <td>{{alumno.alumno_email}}</td>
                            <td>
                                <a type="button" class="btn btn-danger" id="eliminarBtn" data-alumno-id="{{ alumno.alumno_id }}">
                                    Eliminar
                                </a>
                                
                            </td>
                        </tr>
                         {% endfor %}
                       <!----------------------------->
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#nuevoUsuario">
                Nuevo Alumno
              </button>
        </div>
    </div>

</div>
{% endblock %}
{% block mensaje %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
      document.getElementById('eliminarBtn').addEventListener('click', function () {
        const alumnoId = this.getAttribute('data-alumno-id');
  
        Swal.fire({
          title: '¿Estás seguro?',
          text: 'Este registro se eliminará permanentemente.',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#d33',
          cancelButtonColor: '#3085d6',
          confirmButtonText: 'Sí, eliminar',
          cancelButtonText: 'Cancelar'
        }).then((result) => {
          if (result.isConfirmed) {
            // Redirige a la vista de eliminación después de la confirmación.
            window.location.href = `/eliminarAlumno/${alumnoId}/`;
          }
        });
      });
    });
  </script>
{% endblock %}