{% extends "./layout.html" %}

{% block title %} Respuesta {% endblock %}

{% block body %}


<div class="col-md-7">
    <div class="row bbg-info p-3 bg-info bg-opacity-10 border-start-5 rounded-end rounded-start">
        <div class="col-md-12">
            <h2 class="text-info">Calculadora</h2>
            <p class="fw-bold mt-3">Operación: {{ nombreOpe }} </p>
            <p>{{ operation }} = <span class="fw-bold">{{ resa }}</span></p>
        </div>
        <a href="/" class="text-decoration-none text-dark">Volver</a>
    </div>
</div>

{% endblock %}